body
{
padding:0;
margin:0;
}
.topstrip
{
background-color:#09322F;
height:30px;
line-height:30px;
text-align:right;
}
.pageheading
{
color:#266E08 ;
text-align:center;
font-size:80px;

}
.placeheading
{
background:#7500C6 ;
color:#ffffff;
padding:20px;
}

.pagepara
{
padding:20px;
}

.pagepara p
{
text-align:justify;
color:1B266D   ;font-size:23px;
}

.pageimg1
{
width:200px;
height:100px;
border: 1px solid black;
float:left;
margin:10px;
}
.pageimg2
{
width:200px;
height:100px;
border: 1px solid black;
float:right;
margin:10px;
}
.pagemenu
{
background:#000000;
color:#ffffff;
padding:10px;
width:auto;
margin-right:10px;
margin-left:10px;
text-decoration:none;
border-radius:5px;
}


.pagemenu:hover
{
background:#E86C16;
color:#000000;
cursor:pointer;
}

.pagetop
{
color:#FFFFFF;
margin-right:10px;
margin-left:10px;
text-decoration:none;
float:right;
}


.pagetop:hover
{
color:#E86C16;
cursor:pointer;
}